@import "tailwindcss";

@layer base {
  :root {
    --black: #0a0a0a;
    --white: #ffffff;
    --off-white: #f8f7f5;
    --red: #c8102e;
    --red-dark: #a00d24;
    --gray: #f2f1ef;
    --gray-mid: #dedbd6;
    --gray-text: #888580;
    --text: #1a1917;
    --text-light: #65625e;
    --nav-h: 68px;
    --ease: cubic-bezier(0.4, 0, 0.2, 1);
  }

  html {
    scroll-behavior: smooth;
    background-color: var(--black);
  }

  body {
    background-color: var(--white);
    color: var(--text);
  }
}

@theme {
  --font-sans: var(--font-dm-sans);
  --font-display: var(--font-bebas);
  --font-serif: var(--font-dm-serif);

  --color-black: #0a0a0a;
  --color-white: #ffffff;
  --color-off-white: #f8f7f5;
  --color-red: #c8102e;
  --color-red-dark: #a00d24;
  --color-gray: #f2f1ef;
  --color-gray-mid: #dedbd6;
  --color-gray-text: #888580;
  --color-text: #1a1917;
  --color-text-light: #65625e;
}

@layer components {
  .hero-noise {
    position: absolute;
    inset: 0;
    opacity: 0.03;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
    background-size: 200px 200px;
    pointer-events: none;
  }
}
